@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --lose-color: #dc3545;
  --win-color: #28a745;
  --modal-duration: 1s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 2.6;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(./pexels-photo-1308624.jpeg);
  color: white;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 10px 10px;
  text-align: center;
}

.restart-btn {
  display: none;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 1rem;
}

.restart-btn:hover {
  background: var(--primary-color);
  color: #fff;
}

.header {
  text-align: center;
  margin: 1rem 0;
}

.header h1 {
 
  color:whitesmoke;
  text-transform: uppercase;
  margin-bottom: 1cm;

  background: linear-gradient(rgba(70, 165, 133, 0.473),rgba(29, 180, 117, 0.514));
  padding: 20px;
  z-index: 1;
  font-size: 40px;
  
}

.score {margin: 1cm;

  display: grid;
  grid-template-columns: repeat(2, 3fr);
  font-size: 3.4rem;
  color: #fff;

}

.score p:first-child {
    background: cadetblue;
    border:2px dotted white;
    padding:2px;
    
}
.score p:first-child:hover{
  background-color:rgba(168,61,61);
  color: black;
  transition: 0.6 ease;
}

.score p:last-child {
 background: cadetblue;
  border: 2px dotted white;
  padding: 2px;
}
.score p:last-child:hover{
    background-color: rgb(168, 61, 61);
    transition: 0.6 ease;
    color:black;
}

.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.choice {
  cursor: pointer;
}

.choice:hover {
  color: rgb(168, 61, 61);
}

.text-win {
  color: var(--win-color);
}

.text-lose {
  color: var(--lose-color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: rgb(168, 61, 61);
  text-align: center;
  margin: 10% auto;
  width: 350px;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-content h1 {
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.footer{
    color:Aqua;
    text-align: center;
    background: linear-gradient(rgba(70, 165, 133, 0.473),rgba(29, 180, 117, 0.514));
    padding: 15px;
    z-index: 1;
    font-size: 15px;
    margin-top: 2.7cm;
    
}
.sm{
  margin: 20px 0;
}
.sm a{
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  font-size: 40px;
  transition: 0.4s;
  border-radius: 80%
}
.sm a:hover{
  background: #2c3e50;
  color: white;

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media (max-width: 700px) {
  .choice {
    font-size: 110px;
  }
}

@media (max-width: 500px) {
  .choice {
    font-size: 80px;
  }
}
